# First Title 
TODO: Here we need to define a title and subtitle that define our project entirely.

In [5]:
import pandas as pd

## Understanding the data

In [18]:
%ls ../data/beijing+multi+site+air+quality+data

2A2478DC-8517-4490-9FA7-36F9A7A542BE.JPG*
PRSA2017_Data_20130301-20170228.zip
PRSA_Data_20130301-20170228/
data.csv*
test.csv*

In [6]:
df = pd.read_csv("../data/beijing+multi+site+air+quality+data/data.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-02,183.820007,187.300003,183.419998,187.179993,182.199005,17731300
1,2018-07-03,187.789993,187.949997,183.539993,183.919998,179.025772,13954800
2,2018-07-05,185.259995,186.410004,184.279999,185.399994,180.466370,16604200
3,2018-07-06,185.419998,188.429993,185.199997,187.970001,182.967972,17485200
4,2018-07-09,189.500000,190.679993,189.300003,190.580002,185.508545,19756600

In [7]:
df.shape

(503, 7)

In [8]:
df_test = pd.read_csv("../data/beijing+multi+site+air+quality+data/test.csv")
df_test.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-02,43.060001,45.000000,42.750000,44.980000,44.980000,16703600
1,2018-07-03,45.360001,45.480000,43.799999,43.889999,43.889999,14237500
2,2018-07-05,44.070000,45.110001,43.549999,45.060001,45.060001,16172000
3,2018-07-06,44.910000,46.750000,44.610001,46.650002,46.650002,23740700
4,2018-07-09,46.740002,46.900002,42.080002,44.139999,44.139999,107582400

In [9]:
df.shape

(503, 7)

In [11]:
%ls ../data/beijing+multi+site+air+quality+data/PRSA_Data_20130301-20170228

PRSA_Data_Aotizhongxin_20130301-20170228.csv
PRSA_Data_Changping_20130301-20170228.csv
PRSA_Data_Dingling_20130301-20170228.csv
PRSA_Data_Dongsi_20130301-20170228.csv
PRSA_Data_Guanyuan_20130301-20170228.csv
PRSA_Data_Gucheng_20130301-20170228.csv
PRSA_Data_Huairou_20130301-20170228.csv
PRSA_Data_Nongzhanguan_20130301-20170228.csv
PRSA_Data_Shunyi_20130301-20170228.csv
PRSA_Data_Tiantan_20130301-20170228.csv
PRSA_Data_Wanliu_20130301-20170228.csv
PRSA_Data_Wanshouxigong_20130301-20170228.csv

In [15]:
df_1 = pd.read_csv(filepath_or_buffer = "../data/beijing+multi+site+air+quality+data/PRSA_Data_20130301-20170228/PRSA_Data_Aotizhongxin_20130301-20170228.csv")
df_1.shape

(35064, 18)