# First Title 
TODO: Here we need to define a title and subtitle that define our project entirely.

In [5]:
import pandas as pd 
import os

## Understanding the data

In [2]:
%ls ../data/beijing+multi+site+air+quality+data

2A2478DC-8517-4490-9FA7-36F9A7A542BE.JPG*
PRSA2017_Data_20130301-20170228.zip
PRSA_Data_20130301-20170228/
data.csv*
test.csv*

In [3]:
df = pd.read_csv("../data/beijing+multi+site+air+quality+data/data.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-02,183.820007,187.300003,183.419998,187.179993,182.199005,17731300
1,2018-07-03,187.789993,187.949997,183.539993,183.919998,179.025772,13954800
2,2018-07-05,185.259995,186.410004,184.279999,185.399994,180.466370,16604200
3,2018-07-06,185.419998,188.429993,185.199997,187.970001,182.967972,17485200
4,2018-07-09,189.500000,190.679993,189.300003,190.580002,185.508545,19756600

In [7]:
df.shape

(503, 7)

In [8]:
df_test = pd.read_csv("../data/beijing+multi+site+air+quality+data/test.csv")
df_test.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-02,43.060001,45.000000,42.750000,44.980000,44.980000,16703600
1,2018-07-03,45.360001,45.480000,43.799999,43.889999,43.889999,14237500
2,2018-07-05,44.070000,45.110001,43.549999,45.060001,45.060001,16172000
3,2018-07-06,44.910000,46.750000,44.610001,46.650002,46.650002,23740700
4,2018-07-09,46.740002,46.900002,42.080002,44.139999,44.139999,107582400

In [9]:
df.shape

(503, 7)

In [11]:
%ls ../data/beijing+multi+site+air+quality+data/PRSA_Data_20130301-20170228

PRSA_Data_Aotizhongxin_20130301-20170228.csv
PRSA_Data_Changping_20130301-20170228.csv
PRSA_Data_Dingling_20130301-20170228.csv
PRSA_Data_Dongsi_20130301-20170228.csv
PRSA_Data_Guanyuan_20130301-20170228.csv
PRSA_Data_Gucheng_20130301-20170228.csv
PRSA_Data_Huairou_20130301-20170228.csv
PRSA_Data_Nongzhanguan_20130301-20170228.csv
PRSA_Data_Shunyi_20130301-20170228.csv
PRSA_Data_Tiantan_20130301-20170228.csv
PRSA_Data_Wanliu_20130301-20170228.csv
PRSA_Data_Wanshouxigong_20130301-20170228.csv

In [7]:
# cargamos en un array todos los nombres de todos los datasets disponibles
data_sets = os.listdir("../data/beijing+multi+site+air+quality+data/PRSA_Data_20130301-20170228")

## Dimensionalidad de los datos

In [11]:
relative_path  = "../data/beijing+multi+site+air+quality+data/PRSA_Data_20130301-20170228"
for i in data_sets:
    path = os.path.join(relative_path, i)
    df = pd.read_csv(filepath_or_buffer = path)
    print(f"Dataset: {i} --- Shape: {df.shape}")
    print()

Dataset: PRSA_Data_Gucheng_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Huairou_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Tiantan_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Changping_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Guanyuan_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Nongzhanguan_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Wanliu_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Dongsi_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Wanshouxigong_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Aotizhongxin_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Dingling_20130301-20170228.csv --- Shape: (35064, 18)

Dataset: PRSA_Data_Shunyi_20130301-20170228.csv --- Shape: (35064, 18)

In [34]:
def info_datasets(data_sets:list):
    info_data = []

    for idx, dataset in enumerate(data_sets):
        df = pd.read_csv(os.path.join(relative_path, dataset))
        info = {}
        info['DataFrame'] = dataset
        info['Columns'] = df.columns.tolist() 
        info['Dtypes'] = df.dtypes.tolist() 
        info['Rows'] = df.shape[0]
        info_data.append(info)

    info_df = pd.DataFrame(info_data)

    return info_df
df_info = info_datasets(data_sets = data_sets)


for i in df_info.columns:
    df_info[i] = df_info[i].astype('str')
df_info

,DataFrame,Columns,Dtypes,Rows
0,PRSA_Data_Gucheng_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
1,PRSA_Data_Huairou_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
2,PRSA_Data_Tiantan_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
3,PRSA_Data_Changping_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
4,PRSA_Data_Guanyuan_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
5,PRSA_Data_Nongzhanguan_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
6,PRSA_Data_Wanliu_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
7,PRSA_Data_Dongsi_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
8,PRSA_Data_Wanshouxigong_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
9,PRSA_Data_Aotizhongxin_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
10,PRSA_Data_Dingling_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064
11,PRSA_Data_Shunyi_20130301-20170228.csv,"['No', 'year', 'month', 'day', 'hour', 'PM2.5'...","[dtype('int64'), dtype('int64'), dtype('int64'...",35064

In [37]:
for i in df_info.columns[1:]:
    print(f"Column name: {i}")
    print(f"Uniques values: {df_info[i].unique()}")
    print()

Column name: Columns
Uniques values: ["['No', 'year', 'month', 'day', 'hour', 'PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM', 'station']"]

Column name: Dtypes
Uniques values: ["[dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O')]"]

Column name: Rows
Uniques values: ['35064']

Todo el preprocesamiento, analisis y entrenamiento del modelo se va a hacer respecto a un solo dataset, unir los datasets en este punto es trivial.

In [42]:
# Si quieremos unir los datos debe ser en esta linea
df = pd.read_csv(filepath_or_buffer = os.path.join(relative_path, "PRSA_Data_Guanyuan_20130301-20170228.csv"))
df

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,14.0,20.0,300.0,69.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Guanyuan
1,2,2013,3,1,1,4.0,4.0,13.0,17.0,300.0,72.0,-1.1,1023.2,-18.2,0.0,N,4.7,Guanyuan
2,3,2013,3,1,2,3.0,3.0,10.0,19.0,300.0,69.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Guanyuan
3,4,2013,3,1,3,3.0,6.0,7.0,24.0,400.0,62.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Guanyuan
4,5,2013,3,1,4,3.0,6.0,5.0,14.0,400.0,71.0,-2.0,1025.2,-19.5,0.0,N,2.0,Guanyuan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,13.0,37.0,3.0,36.0,400.0,60.0,12.5,1013.5,-16.2,0.0,NW,2.4,Guanyuan
35060,35061,2017,2,28,20,20.0,43.0,4.0,48.0,500.0,43.0,11.6,1013.6,-15.1,0.0,WNW,0.9,Guanyuan
35061,35062,2017,2,28,21,16.0,33.0,5.0,39.0,500.0,50.0,10.8,1014.2,-13.3,0.0,NW,1.1,Guanyuan
35062,35063,2017,2,28,22,11.0,24.0,5.0,47.0,500.0,41.0,10.5,1014.4,-12.9,0.0,NNW,1.2,Guanyuan
35063,35064,2017,2,28,23,15.0,27.0,5.0,53.0,600.0,33.0,8.6,1014.1,-15.9,0.0,NNE,1.3,Guanyuan

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34448 non-null  float64
 6   PM10     34635 non-null  float64
 7   SO2      34590 non-null  float64
 8   NO2      34405 non-null  float64
 9   CO       33311 non-null  float64
 10  O3       33891 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [44]:
# Para generar el AQI
def calculate_aqi(row):
    pollutants = ['PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3']
    max_value = row[pollutants].max()
    
    if max_value <= 50:
        return 'Excelent'
    elif max_value <= 100:
        return 'Good'
    elif max_value <= 150:
        return 'Slightly Polluted'
    elif max_value <= 200:
        return 'Lightly Polluted'
    elif max_value <= 250:
        return 'Moderately Polluted'
    elif max_value <= 300:
        return 'Heavily Polluted'
    else:
        return 'Severely Polluted'
    
df['AQI'] = df.apply(calculate_aqi, axis=1)

In [46]:
df

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,AQI
0,1,2013,3,1,0,4.0,4.0,14.0,20.0,300.0,69.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Guanyuan,Heavily Polluted
1,2,2013,3,1,1,4.0,4.0,13.0,17.0,300.0,72.0,-1.1,1023.2,-18.2,0.0,N,4.7,Guanyuan,Heavily Polluted
2,3,2013,3,1,2,3.0,3.0,10.0,19.0,300.0,69.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Guanyuan,Heavily Polluted
3,4,2013,3,1,3,3.0,6.0,7.0,24.0,400.0,62.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Guanyuan,Severely Polluted
4,5,2013,3,1,4,3.0,6.0,5.0,14.0,400.0,71.0,-2.0,1025.2,-19.5,0.0,N,2.0,Guanyuan,Severely Polluted
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,13.0,37.0,3.0,36.0,400.0,60.0,12.5,1013.5,-16.2,0.0,NW,2.4,Guanyuan,Severely Polluted
35060,35061,2017,2,28,20,20.0,43.0,4.0,48.0,500.0,43.0,11.6,1013.6,-15.1,0.0,WNW,0.9,Guanyuan,Severely Polluted
35061,35062,2017,2,28,21,16.0,33.0,5.0,39.0,500.0,50.0,10.8,1014.2,-13.3,0.0,NW,1.1,Guanyuan,Severely Polluted
35062,35063,2017,2,28,22,11.0,24.0,5.0,47.0,500.0,41.0,10.5,1014.4,-12.9,0.0,NNW,1.2,Guanyuan,Severely Polluted
35063,35064,2017,2,28,23,15.0,27.0,5.0,53.0,600.0,33.0,8.6,1014.1,-15.9,0.0,NNE,1.3,Guanyuan,Severely Polluted